@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";

@theme {
    /* colors */
    --color-primary: #10B981;
    --color-secundary: #059669;
    --color-gray: #6B7280;
    --color-violet: #8B5CF6;
    --color-subtitle: #034220;
    --color-main: #0972518a;
    --color-card: #ffffffb4;
    --color-card_blue: #93C5FD;
    --color-card_pink: #FCA5A5;
    --color-card_yellow: #FDE047;
    --color-card_lilac: #C4B5FD;
    --color-card_green: #86EFAC;
    --color-card_peach: #FDBA74;
    --color-card_magenta: #F0ABFC;
    --color-card_cyan: #A5F3FC;

    /* fonts */
    --font-roboto: "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;
     --font-cherry: "Cherry Bomb One", system-ui; /* title */
    --font-varela: "Varela Round", sans-serif;
}
